// CONTENT

$menu-width = 250px

#header
  position: fixed
  width: $menu-width
  padding: $margin-small
  z-index: 300
  font-family: 'Calibre-Bold', font-stack('Helvetica')
  font-weight: 700

#header-name
  height: $margin-mid

.header-menu-item
  cursor: pointer
  a
    display: block

.header-menu-active
  &:after
    display: block
    padding: .7rem 0
    content: '➞'

$main-content-offset = $margin-small + $margin-mid

#main-content-container
  position: fixed
  width: 'calc(100vw - %s)' % ($menu-width + $margin-small)
  left: $menu-width + $margin-small
  height: 100vh
  z-index: 300
  padding-top: $main-content-offset
  overflow-y: scroll

#main-content
  width: 360px

.page-content
  display: none

.page-content-active
  display: block

// ******************************************************

// MAP

#map
  width: 300vw
  height: 300vh
  position: fixed
  top: 0
  right: 0
  bottom: 0
  left: 0
  display: flex
  flex-wrap: wrap
  transform: translate(-33.3333333%, -33.333333%)
  transition: transform 50ms linear
  z-index: 100

.map-block
  position: relative
  width: 100vw
  height: 100vh
  display: flex
  align-items: center
  justify-content: center
  font-size: 10em
  z-index: 100

// ******************************************************

// MINIMAP

#minimap
  position: fixed
  bottom: $margin-small
  left: $margin-small
  z-index: 200
  border: 2px solid $color-black

.minimap-row
  display: flex
  flex-direction: row

.minimap-button
  width: 3vw
  height: 3vh
  display: flex
  flex-direction: row
  justify-content: center
  align-items: center
  font-size: 10px

#minimap-location
  width: 3vw
  height: 3vh
  position: absolute
  top: 3vh
  left: 3vw
  border: 2px solid $color-black

// ******************************************************

// BACKGROUND SHAPES

#background-pattern-holder
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  display: flex
  justify-content: center
  align-items: center
  z-index: 0

  svg
    position: absolute
    z-index: 0
    visibility: hidden

    path,
    polygon
      stroke-width: 0
      fill: $color-white
      stroke: $color-white
      stroke-width: 0
      stroke-miterlimit: 10
      stroke-linejoin: round
      // transition: fill $transition-duration, stroke $transition-duration, stroke-width $transition-duration

    &.show
      visibility: visible
  &.stroke-path
    svg
      path,
      polygon
        stroke: $color-yellow
        stroke-width: 10px
  &.fill-path
    svg
      path,
      polygon
        fill: $color-yellow

@media screen and (orientation: landscape)
  #background-pattern-holder svg
    width: 100%

@media screen and (orientation: portrait)
  #background-pattern-holder svg
    height: 100%

// ******************************************************
