// CONTENT

$menu-width = 295px

#header
  padding: $margin-basic

#header-name
  height: $margin-mid

#header
  width: $menu-width

$main-content-offset = $margin-basic + $margin-mid

#main-content-container
  width: 'calc(100vw - %s)' % ($menu-width + $margin-basic)
  left: $menu-width
  padding-top: $main-content-offset

#main-content
  width: 410px

// ******************************************************

// MAP

#lat-long
  top: $margin-basic
  right: $margin-basic

// ******************************************************

// MINIMAP

#minimap
  position: fixed
  bottom: $margin-basic
  left: $margin-basic
