// CONTENT

$menu-width = 295px

#header
  position: fixed
  width: $menu-width
  padding: $margin-basic
  transition: opacity $fade-duration

#header-name
  height: $margin-mid
  transition: opacity $fade-duration

#header-menu
  display: initial
  li
    transition: opacity $fade-duration

$menu-width-padded = $menu-width + ($margin-basic * 2)

$main-content-offset = $margin-basic + $margin-mid

#main-content-container
  width: 'calc(100vw - %s)' % $menu-width-padded
  left: $menu-width-padded
  padding-top: $main-content-offset
  position: fixed
  height: 100vh
  z-index: 200
  overflow-y: scroll
  transition: opacity $fade-duration

#main-content
  width: 410px
  transition: opacity $fade-duration
  padding-top: 0

.page-content
  display: none
  padding: 0

#main-content
  #mobile-menu
    display: none
  .page-content-active
    display: block
  &.mobile-menu-active
    #mobile-menu
      display: none
    .page-content-active
      display: block

// ******************************************************

// MAP

.map-block
  display: flex

#lat-long
  top: $margin-basic
  right: $margin-basic

// ******************************************************

// MINIMAP

#minimap
  position: fixed
  bottom: $margin-basic
  left: $margin-basic
